<div class="form-group col-auto">
  <label>Location
    <select class="form-control" id="location" [(ngModel)]="selectedLocation" (ngModelChange)="onChange()">
      <option value="">--Select--</option>
      <option *ngFor='let location of locationInput' [value]="location">{{location}}</option>
    </select>
  </label>
</div>
