<div class="form-group">
  <label>RAM</label>
  <div class="form-control">
    <ng-container *ngFor="let ramSize of selectedRamSizes">
      <div class="form-check form-check-inline col-auto">
        <input class="form-check-input" [id]="'ram-'+ramSize.size" type="checkbox" name="ram-size" [(ngModel)]="ramSize.checked" (ngModelChange)="onRamSizeChange(ramSize)"/>
        <label class="form-check-label" [for]="'ram-'+ramSize.size">{{ramSize.size | GB2TB}}</label>
      </div>
    </ng-container>
  </div>
</div>
