<div class="form-group form-row">
  <div class="col-auto mr-2">
    <label>Min Storage
      <strong>{{storageSizesInGB[selectedMinStorageIndex] | GB2TB}}</strong>
      <input [disabled]="rangeMin.min == rangeMin.max" class="form-control" #rangeMin [(ngModel)]="selectedMinStorageIndex" (ngModelChange)="onSelectedMinChange($event)"
        type="range" min="0" step="1" [max]="selectedMaxStorageIndex - 1" />
      <small class="float-left">{{0 | GB2TB}}</small>
      <small class="float-right">{{storageSizesInGB[rangeMin.max] | GB2TB}}</small>
    </label>
  </div>

  <div class="col-auto">
    <label>Max Storage
      <strong>{{storageSizesInGB[selectedMaxStorageIndex] | GB2TB}}</strong>
      <input [disabled]="rangeMax.min == rangeMax.max" class="form-control" #rangeMax [(ngModel)]="selectedMaxStorageIndex" (ngModelChange)="onSelectedMaxChange()"
        type="range" [min]="selectedMinStorageIndex + 1" step="1" [max]="storageSizesInGB.length-1" />
      <small class="float-left">{{storageSizesInGB[rangeMax.min] | GB2TB}}</small>
      <small class="float-right">{{storageSizesInGB[rangeMax.max] | GB2TB}}</small>
    </label>
  </div>
</div>
