<ng-container>
  <app-server-data-filter (filter)="onFilter($event)" [locationInput]="serverLocations"
    [disableButtons]="fetching"></app-server-data-filter>

  <app-progress-bar [style.visibility]="!fetching?'hidden':'visible'"></app-progress-bar>

  <app-server-data-table [serverListInput]="serverListObservable | async"></app-server-data-table>
</ng-container>
