<ng-container>
  <div class="card">
    <div class="card-body">
      <h6 class="card-title">Filters</h6>
      <app-ram-size-filter (ramFilterChange)="onRamFilterChange($event)"></app-ram-size-filter>

      <div class="form-row">

        <app-min-max-storage-filter (minChange)="onSelectedMinStorageChange($event)" (maxChange)="onSelectedMaxStorageChange($event)"></app-min-max-storage-filter>

        <app-hard-disk-types-filter (typeChange)="onHardDiskTypeChange($event)"></app-hard-disk-types-filter>

        <app-location-filter [locationInput]="locationInput" (locationChange)="onLocationFilterChange($event)"></app-location-filter>

      </div>

      <div class="text-right">

        <button type="button" id="filter-btn" class="btn btn-outline-success col-md-3 m-1" [disabled]="!dataFilterStore.hasFilters() || disableButtons" (click)="onFilter()">Filter</button>

        <button type="button" id="clear-btn" class="btn btn-outline-info col-md-1 col-xs-3 m-1" [disabled]="!dataFilterStore.hasFilters() || disableButtons" (click)="onReset()">Clear</button>

      </div>

    </div>
  </div>
</ng-container>
