<ng-container>
  <div class="card">
    <div class="card-body">
        <h6 class="card-title">Servers</h6>
        <div class="table-responsive">
      <table class="table table-striped table-bordered table-sm">
        <thead class="text-center">
          <tr>

            <th class="text-left">Model</th>
            <th>RAM</th>
            <th>HDD</th>
            <th>Location</th>
            <th class="text-right">Price</th>

          </tr>
        </thead>
        <ng-container *ngIf='serverListInput?.servers?.length>0; else error'>
          <tr *ngFor='let server of serverListInput?.servers;trackBy: trackByFn' >
            <td class="text-left">{{server?.model}}</td>

            <td class="text-center">{{server?.ram.memory}} {{server?.ram.unit}} {{server?.ram.type}}</td>


            <td class="text-center">{{server?.hdd.count}} x {{server?.hdd.memory}} {{server?.hdd.unit}} - {{server?.hdd.type}}</td>

            <td class="text-center">{{server?.location}}</td>
            <td class="text-right">{{server?.price.amountCents/100 | currency:server?.price.currency:server?.price.currencySymbol}}</td>
          </tr>
        </ng-container>
        <ng-template #error>
          <tr>
            <td colspan="5" class="text-center">{{errorMessage}}</td>
          </tr>
        </ng-template>
      </table>
    </div>
    </div>
  </div>

</ng-container>
