<div class="form-group col-auto">
  <label>Hard Disk Type
    <select class="form-control" id="hardDisk" [(ngModel)]="selectedHardDiskType" (ngModelChange)="onChange()">
      <option value="">--Select--</option>
      <option *ngFor='let type of hardDiskTypes' [value]="type">{{type}}</option>
    </select>
  </label>
</div>
